<div class="trainer-pokedex-container">

    <ul *ngIf="pokemon.length > 0; else none">
        <app-pokemon-list-item *ngFor="let poke of pokemon" [pokemon]="poke"></app-pokemon-list-item>
    </ul>

    <ng-template #none>
        <p>You didn't catch any pokemon(s) yet!</p>
        <button (click)="onCatchFirstPokemon()">Collect first pokemon</button>
    </ng-template>

</div>