.pokemon-name {
    font-size: 80px;
    color: #402a42;
}

.pokemon-list-container {
    padding: 50px;
}

.btn-style {
    padding: 10px 20px;
    border-radius: 3px;
    background: #6abaaa;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 2px 1px rgba(217, 197, 219, .2);
    cursor: pointer;
}