
<div class="pokemon-list-container">

    <section *ngIf="pokemons.length > 0">
        <h1 class="pokemon-name">Pokemons</h1>
        <a class="btn-style" routerLink="/intro">Login page</a>
            &nbsp;
        <a class="btn-style" routerLink="/trainer">Trainer page</a>

        <ul>
            <app-pokemon-list-item 
                *ngFor="let pokemon of pokemons" 
                [pokemon]="pokemon">
            </app-pokemon-list-item>
        </ul>
    </section>
    <section *ngElse>
        <h3>You dont have any Pokemons yet...</h3>
    </section>

</div>