<div class="trainer-container">
    <h1 class="trainer-name">Welcome Trainer!</h1>
    <a class="btn-style" routerLink="/intro">Login page</a>
    &nbsp;
    <a class="btn-style" routerLink="/pokemons">Pokemons</a>
    <br>
    <app-trainer-pokedex></app-trainer-pokedex>

</div>