.btn-style {
    padding: 10px 20px;
    border-radius: 3px;
    background: #e8b94a;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 2px 1px rgba(217, 197, 219, .2);
    cursor: pointer;
}