<form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
    <fieldset>
        <label for="name">What's your name?</label>
        &nbsp;
        <input type="text" 
                id="name" 
                name="name" 
                ngModel #name="ngModel"
                minlength="2"
                maxlength="22"
                required
                placeholder="Trainer name" />
    </fieldset>
    <br>
    <button type="submit" 
            [disabled]="createForm.invalid"
            class="btn-style">
            Become trainer
    </button>

</form>