<main>

    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo:wght@200;600&display=swap" rel="stylesheet">
    </head>

    <router-outlet></router-outlet>

</main>