.btn-style {
    padding: 10px 20px;
    border-radius: 3px;
    background: violet;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 2px 1px rgba(217, 197, 219, .2);
    cursor: pointer;
}

.pokemon-details-container {
    padding-left: 50px;
}

.pokemon-name {
    font-size: 150px;
    color: #402a42;
}

body {
    background-color: #5d2f66;
}