<div class="pokemon-details-container" *ngIf="pokemon !== undefined && !error">

    <h1 class="pokemon-name">{{ pokemon?.name }} </h1>
    <ul>
        <li>Height: &nbsp;&nbsp; {{ pokemon.height }}</li>
        <li>Weight: &nbsp;&nbsp; {{ pokemon.weight }}</li>
    </ul>
    <button class="btn-style" *ngIf="!isCollected" (click)="onCollectClick()">Catch Pokemon</button>
    <button class="btn-style" *ngIf="isCollected" (click)="onLetGoClick()">Remove from Pokedex</button>
    &nbsp;
    <a class="btn-style" routerLink="/trainer">Trainer</a>

</div>
